.form-container {
  display: flex;
  justify-content: center;
  background-color: rgb(255, 245, 193);
  width: 400px;
  height: 600px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

body {
  background-color: rgb(255, 255, 255);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.red-border {
  border-left: 1px solid red;
  padding: 20px;
}

li {
  border-bottom: 1px solid blue;
  list-style-type: none;
}

button {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  text-decoration: none;
  cursor: pointer;
  font-weight: bolder;
  float: right;
}